@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 1%;

        --card: 0 0% 100%;

        --popover: 0 0% 100%;

        --primary: 240 5.9% 10%;

        --secondary: 240 4.8% 95.9%;

        --muted: 240 4.8% 95.9%;

        --accent: 240 4.8% 95.9%;

        --destructive: 0 84.2% 60.2%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;

        --line-grad: linear-gradient(90deg, #c057f2, #f2e357 25%, #9bf257 50%, #f2b457 75%, #579ef2);
    }
}

.bdr {
    border: 1px solid;
    border-image: linear-gradient(90deg, #c057f2, #f2e357 25%, #9bf257 50%, #f2b457 75%, #579ef2);
    border-image-slice: 1;
}

.neon {
    text-shadow: 2px 0 16px #579ef2, 0 0 10px #579ef2;
}

.glitch-neon {
    text-shadow: 1px 1px #f2b457, 1px 1px 7px #579ef2;
}